<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SimpleWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5064/SimpleWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SimpleWebServiceSoap"
                contract="SR_WebService.SimpleWebServiceSoap" name="SimpleWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>